.townBody {
  width: 100%;
  height: 1000px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodyInner {
  display: flex;
  width: 100%;
  height: 80%;
}

.townMap {
  position: relative;
  margin-left: 20px;
  width: 700px;
  border: 1px solid #000;
}

.townInfo {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  width: 150px;
}

.townInfo button {
  height: 40px;
  background: #f00;
  color: #fff;
  border-radius: 5px;
  border: none;
}

.town {
  position: absolute;
  border: 1px solid #000;
}

.box {
  display: inline-block;
}
